body {
  font-family: sans-serif;
  margin: 0;
  background: #111;
  color: #eee;
  overflow-x: hidden;
  font-size: 2rem;
}
section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pin-container {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 20px;
}
.circle {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: #0ae448;
  flex-shrink: 0;
}
.box {
  width: 100px;
  height: 100px;
  background: #00bae2;
  border-radius: 12px;
  flex-shrink: 0;
  z-index: 10;
}
